@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
}

.navGradient{
    background: radial-gradient(circle at 85.4% 50.8%, #061993 0%, #1973d1 74.2%)
}

.custom-shadow-skills {
    box-shadow: 4px 4px 10px #000608;
}

.blue-gradient_text {
    @apply bg-gradient-to-r from-[#56c8e8] to-[#0072ff] bg-clip-text text-transparent;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1s ease forwards
}

.linkedinsvg {
    border: 2px solid #8992a3;
    padding: 8px;
    border-radius: 10px;
}

.githubsvg{
    border: 2px solid #8992a3;
    padding: 5px;
    border-radius: 10px;
}

.twittersvg{
    border: 2px solid #8992a3;
    padding: 6px;
    border-radius: 10px;
}

.gradient-box {
    background: linear-gradient(45deg, #1973d1, #061993);
    transition: all 1s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.gradient-box:hover {
    background: linear-gradient(45deg, #061993, #1973d1);
}
